body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}
#counter {
  font-size: 8em;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
